@model Study2019.WebUI.Models.PostModel

@{
    ViewBag.Title = "NewPost";
    var imgTemplate = Html.Raw(Html.Partial("_imgTemplate"));
}
<style>
    .PostImage {
        max-height: 60px;
        max-width: 60px;
        border-radius: 5px;
    }
</style>
<script type="text/template" id="imgTemplate">
    @imgTemplate
</script>
<script>

    var imgTemplate = Hogan.compile($("#imgTemplate").html());
    var imageIds = JSON.parse("@Json.Encode(Model.ImageIds)");
    function Upload(elem) {


        if (elem.files.length < 1) {
            alert("Select Files");
            return;
        }
        else if (elem.files.length > 5) {
            alert("no greater 5 files");
            return;
        }

        var fd = new FormData();
        for (var i = 0; i < elem.files.length; i++)
        {
        fd.append("file_"+i, elem.files[i]);
        }

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UploadImage", "Image")',
                    contentType: false,
                    processData: false,
                    data: fd,
                    success: function (result) {
                        if (Array.isArray(result)) {
                            result.forEach(function (i) {
                                imageIds.push(i);
                            });

                            $(".ImagesDiv").html(imgTemplate.render({"Images":imageIds}));
                        }
                    },
                    error: function (xhr, status, p3) {
                        alert(xhr.responseText);
                    },
                    complete: function () {
                        $(".UploadLabel").html($(".UploadLabel").html());
                    }
                });



    }

    function SaveForm(closeModalcb) {

        var post={
            "ImageIds": imageIds,
            "Description": $("#Description").val(),
            "Id": "@Model.Id",
        }

        $.post('@Url.Action("CreateEdit")', post).done(function (res) {

            closeModalcb();
        });

        console.log(post);




        
    }
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.HiddenFor(x => x.Id)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label for="Photos" class="control-label col-md-2">
                Photos <span style="cursor:pointer" class="glyphicon glyphicon-plus-sign"></span>
            </label>
            <div class="col-md-offset-2 col-md-10 ImagesDiv">

            </div>
            <div style="display:none" class="UploadLabel">
                <input type="file" onchange="Upload(this);" accept="image/*" multiple id="Photos" name="Photos" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>


    </div>
}
